<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
<h:head>
    <title>bookstore</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <h:outputStylesheet name="css/default.css"/>
</h:head>
<h:body>
    <p:layout fullPage="true">

        <p:layoutUnit position="north" size="100" resizable="false" closable="false" collapsible="true">
            <h:graphicImage height="70" name="images/bookstore.png"/>
        </p:layoutUnit>

        <p:layoutUnit styleClass="footer" style="top: 50%" position="south" size="50" resizable="false" closable="false" collapsible="true">
            <h:outputText value="#{i18n['default.footer.content']}"/>
        </p:layoutUnit>

        <p:layoutUnit position="west" size="244" header="Menu" resizable="false" closable="false" collapsible="true"
                      effect="drop">
            <p:menu>
                <p:menuitem value="#{i18n['default.menu.link.addbook']}" outcome="/newrecord"/>
                <p:menuitem value="#{i18n['default.menu.link.listbooks']}" outcome="/list"/>
            </p:menu>
        </p:layoutUnit>

        <!--<p:layoutUnit position="east" size="200" header="Right" resizable="true" closable="false" collapsible="true"
                      effect="drop">
            <h:outputText value="Right unit content."/>
        </p:layoutUnit>-->

        <p:layoutUnit position="center">
            <ui:insert name="content">
                [Template content will be inserted here]
            </ui:insert>
        </p:layoutUnit>

    </p:layout>
</h:body>
</html>
