<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/templates/default.xhtml">

    <ui:define name="content">
        <p:panelGrid columns="1" layout="grid" styleClass="list-panelGrid-center">
            <f:facet name="header">
                <h4>Books</h4>
            </f:facet>
            <h:panelGroup rendered="#{empty books}">
                <h3>No records.</h3>
            </h:panelGroup>
            <h:form>
                <p:messages globalOnly="true"/>
                <p:dataTable var="_book" value="#{books}" rendered="#{not empty books}" style="margin-bottom:40px">
                    <f:facet name="header">
                        Available books
                    </f:facet>

                    <p:column headerText="Author" sortBy="#{_book.forename} #{_book.surname}">
                        <h:outputText value="#{_book.forename} #{_book.surname}"/>
                    </p:column>

                    <p:column headerText="Title" sortBy="#{_book.title}">
                        <h:outputText value="#{_book.title}"/>
                    </p:column>

                    <p:column headerText="ISBN" sortBy="#{_book.isbn}">
                        <h:outputText value="#{_book.isbn}"/>
                    </p:column>

                    <p:column headerText="REST URL">
                        <a href="#{request.contextPath}/rest/books/#{_book.id}">/rest/books/#{_book.id}</a>
                    </p:column>

                    <f:facet name="footer">
                        REST URL for all books: <a href="#{request.contextPath}/rest/books">/rest/books</a>
                    </f:facet>
                </p:dataTable>
            </h:form>
        </p:panelGrid>
    </ui:define>
</ui:composition>
