<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/templates/default.xhtml">

    <ui:define name="content">
        <h:form id="reg">
            <p:panel styleClass="newrecord-panel">
                <h2>Add new book</h2>
                <p:messages/>

                <h:panelGrid columns="3" cellpadding="5">
                    <h:outputLabel for="forename" value="Author forename:"/>
                    <p:inputText id="forename" value="#{newBook.forename}" label="Forename"/>
                    <p:message for="forename"/>

                    <h:outputLabel for="surname" value="Author surname:"/>
                    <p:inputText id="surname" value="#{newBook.surname}" label="Surname"/>
                    <p:message for="surname"/>

                    <h:outputLabel for="title" value="Title:"/>
                    <p:inputText id="title" value="#{newBook.title}" label="Title"/>
                    <p:message for="title"/>

                    <h:outputLabel for="isbn" value="ISBN:"/>
                    <p:inputText id="isbn" value="#{newBook.isbn}" label="ISBN"/>
                    <p:message for="isbn"/>
                </h:panelGrid>

                <p>
                    <h:panelGrid columns="2" style="margin-bottom:10px" cellpadding="5">
                        <h:outputLabel for="checked" value="via REST " />
                        <p:selectBooleanCheckbox id="checked" value="#{bookstoreController.byRest}" label="via REST "/>
                    </h:panelGrid>

                    <h:panelGrid columns="2">
                        <p:commandButton value="Add" ajax="false" action="#{bookstoreController.addBook}" icon="ui-icon-check" validateClient="true"/>
                        <p:commandButton value="Reset" ajax="false" type="reset" icon="ui-icon-check" validateClient="true"/>
                    </h:panelGrid>
                </p>
            </p:panel>
        </h:form>
    </ui:define>
</ui:composition>
